

<div id="tabset" class="ui-tabs ui-widget ui-widget-content ui-corner-all">

  <div id="page">

      <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <%@database_list.each_with_index do |database, tabindex| %>
        <li><a href="/viewer/db/db?dbname=<%=database[0] %>&tabindex=<%= tabindex %>"><span><%= database[0] %></span></a></li>
        <% end %>
      </ul>

  </div>



</div>


