// Place all the styles related to the viewer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.schemaarea {
    position:relative;
    float:right;
}

#page {
    position:relative;
    top:0;
    left:0;
}

#tabset {
    position:relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
